img {
    max-width: 100%;
}

.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    /* max-width: calc(1376px + 0.75rem + 0.75rem); */
    max-width: calc(1376px + 2 * 0.75rem);
}

.announcement-inner {
    background: #000000;
    border-radius: 8px;
    margin-top: 18px;
}

.announce-text {
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    padding: 12px 15px;
}


