img {
    max-width: 100%;
}

.button {
    padding: 13px 35px;
    border-style: none;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    color: #000;
    background: #eff1e5;
    font-weight: bold;
    transition: 0.3s;
    min-height: 44px;
}

.button:hover {
    background-color: #7f8567;
    color: #fff;
}

.announcement-bar {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #eff1e5;
}

.announce-text {
    font-size: 14px;
    line-height: 1.5;
    color: #343434;
    letter-spacing: normal;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.announce-link {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: normal;
    color: #343434;
    font-weight: 700;
    text-decoration: none;

}

.announce-link:hover {
    color: #343434;
}

.header-top {
    padding-top: 14px;
    padding-bottom: 14px;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 8px;
}

.search-bar svg {
    width: 20px;
    height: 20px;
}

.search-bar input {
    font-size: 16px;
    width: 100%;
    border: none;
    outline: none;
    box-shadow: none;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo a {
    display: flex;
}

.header-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.header-button {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: normal;
    font-weight: 700;
    color: #343434;
    background-color: #eff1e5;
    padding: 12px 35px;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    transition: all 0.3s;
}

.header-button:hover {
    color: #fff;
    background-color: #7f8567;
}

.header-cart svg {
    width: 24px;
    height: 24px;
    color: #343434;
}

.header-cart {
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    gap: 7px;
}

.cart-quantity {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    line-height: 1.3;
    background-color: #343434;
    width: 21px;
    height: 21px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.header-bottom {
    border-top: 1px solid #e0e0e0;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-link {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: normal;
    color: #343434;
    text-decoration: none;
}

.menu-item{
    padding: 21px 14px;
    position: relative;
}

.menu-link:hover {
    opacity: 0.5;
    color: #343434;
}

.submenu {
    position: absolute;
    background: #ddd;
    top: 90%;
    left: 0;
    width: 150px;
    padding: 16px 14px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
}

.menu-item:hover > .submenu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.submenu-list {
    list-style: none;
    padding: 0;
}

.submenu-list > li:not(:first-child) {
    padding-top: 14px;
}

.hero-banner {
    background-color: #7F8567;
    height: 600px;
}

.hero-media img {
    height: 600px;
    width: 100%;
    object-fit: cover;
    padding-left: 100px;
}

